target

# Website
node_modules
dist
*.tgz
package-lock.json
.astro

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS
.DS_Store

# IDE
.idea

# Claude
.claude/worktrees/

# Cache
.cache
*.tsbuildinfo

.playwright-*/
